.profile-image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding-right: 10px;
}
.profile-container {
  border-bottom: solid 2px #7cfc00;
  width: 15%;
  display: flex;
  padding-bottom: 10px;
}
.profile-name {
  font-family: "Open Sans", sans-serif;
  padding-top: 7%;
}
