body {
  margin: 0;
}

.wrapper {
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: rgba(83, 82, 82, 0.849);
}

/* Change black colour of png icons to white */
.invert-color {
  -webkit-filter: invert(98%);
}

/* Inactive icons are less white */
.inactive {
  -webkit-filter: invert(40%);
  pointer-events: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  display: block;
  padding: 1rem;
}

button:hover {
  background-color: rgb(71, 71, 71);
}

.side-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
