
.register-button{
    border-radius: 40px;
    background-color:white;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    color:#2D2E36;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.register-button {
  border-radius: 40px;
  background-color: white;
  border: 1px solid black;
  width: 10rem;
  height: 3rem;
  color: #2d2e36;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  letter-spacing: none;
  cursor: pointer;
  position: absolute;
  top: 0.4rem;
}

.register-button-wrapper {
  position: relative;
}
