.register-button{
    border-radius: 40px;
    background-color:white;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    color:#2D2E36;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
