html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homeheader-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: -1rem;
  position: relative;
  z-index: 2;
}
.image-wrapper {
  width: 95%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-page-image-wrapper {
  width: 100%;
  margin-top: -3rem;
  position: relative;
  z-index: 0;
}

.home-page-image {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1rem;
}

.home-page-image-mobile {
  width: 100%;
  height: 60vh;
  margin-top: -1rem;
}

.urlToggleBtn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.url-Input {
  margin-top: -12rem;
}
.toggle-btn {
  margin-top: -12rem;
}
.content-wrapper {
  margin-top: -2rem;
  padding-bottom: 2rem;
}

@media (min-width: 723px) {
  .mobilemenu-menuwrap {
    display: none;
  }

  .home-page-image-mobile {
    display: none;
  }

  .home-page-image {
    display: block;
  }

  .annotate-btn {
    display: none;
  }
}

@media (max-width: 722px) {
  .nav-bar {
    display: none;
  }

  .home-page-image {
    display: none;
  }

  .home-page-image-mobile {
    display: block;
  }

  .homeheader-wrapper {
    margin-left: 30px;
    margin-right: 0;
    display: block;
  }

  .toggle-btn {
    margin-top: 0;
  }

  .url-Input {
    width: 80%;
    margin: 0 auto;
  }

  .url-input {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .urlToggleBtn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .annotate-btn {
    min-height: 35px;
    display: block;
    margin: 1rem auto;
    border-radius: 40px;
    border: unset;
    background-color: #cde769;
    font-family: 'Open Sans';
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .home-page-image-wrapper {
    height: 100%;
    padding-bottom: 1rem;
  }

  .context-text {
    width: 90%;
    margin: auto;
  }

  .content-wrapper {
    padding-bottom: 0;
  }

  .content-text {
    margin: 0 10px;
  }

  .mobilemenu-menu > div {
    width: 100%;
    height: 100vh;
  }

  .mobilemenu-menu {
    width: 100%;
  }
}
