.shareLink-dialog {
  width: 18rem;
  background: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: absolute;
}

.dialog-background {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0;
}
