.wrapper{
    /* background-color: red; */
  display: flex;
  flex-direction: rows;
  flex:4;
}
.image{
    background-color:blue;
    display: flex;
    flex-direction: column;
    flex:1;
    width: 55%;
}

.login-wrapper {
  /* background-color: yellow; */
  width: 45%;
  position: relative;
}

.login-part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.social-media-button-wrapper {
  display: flex;
  justify-content: space-between;
}