
.nav-style {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-size: 25px;
    line-height: 34px;
    cursor: pointer;
}

.nav-elements {
     display: flex; 
    list-style-type: none;     
}
.nav-elements li {
   padding: 5px 30px ;  
}
.nav-bar {
  display: flex;
  flex-direction: row;
  float:right;
  margin:30px 10px 0 10px;
}
.nav-link {
  color: #2D2E36;
}
.nav-link:link {
    text-decoration: none;
  }

.nav-link:hover {
    text-underline-position: under;
    border-bottom: 4px solid #CDE769;
  }