.nav-style {
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;

}

.nav-elements {
   display: flex; 
  list-style-type: none;     
}
.nav-elements li {
 padding: 5px 10px ;  
}
.nav-bar {
display: flex;
flex-direction: row;
float:right;
margin:30px 10rem 20px 10px;
}
.nav-link {
color: #2D2E36;
}
.nav-link:link {
  text-decoration: none;
}

.nav-link:hover {
  text-underline-position: under;
  border-bottom: 4px solid #CDE769;
}