

.submit-btn{
    background-color: rgb(205,231,105);
    width:260px;
    height:35px;
    margin-top:40px;
    margin-left:40px;
    color:gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    box-shadow: 1px 2px #a09f9f;
    border-radius: 5px;
    text-shadow: 1px 1px rgb(15, 15, 15);
    font-weight: 140px;
}
.twitter-btn{
    color:gray;
    border:2px solid rgb(252,248,248);
    background-color:  rgb(245,245,245);
    border-radius: 5px;
    height:35px;
    width:35px;
}

.facebook-btn{
    color:gray;
    border:2px solid rgb(252,248,248);
    background-color:  rgb(245,245,245);
    border-radius: 5px;
    height:35px;
    width:35px;
    size:15px;

}
.google-btn{
    background-color:rgb(91, 135, 230);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align:center;
    position: absolute;
    width:260px;
    height:35px;
    margin-top:40px;
    margin-left:40px;
    font-size:15px;
    border-radius: 5px;

}
/*Google icon alignment*/
.logo-align{
    float: left;
    position: relative;
    margin-left: 7px;

}


/*media queries*/
@media screen and (max-width: 768px) {
    .submit-btn .google-btn .facebook-btn .twitter-btn {
        display: block;
        width: auto;
        float: none;
    }
}