.signup-google-btn {
  position: absolute;
  width: 486px;
  height: 55px;
  left: 1125px;
  top: 377px;
  background: #5b87e6;
  border-radius: 5px;
}
.signup-btn-txt {
  position: absolute;
  width: 254px;
  height: 51px;
  left: 1000px;
  top: 377px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signup-create-account-txt {
  width: 569px;
  height: 48px;
  font-family: open Sans;
  font-style: normal;
  font-size: 18px;
  color: #6e6e6e;
  font-weight: bold;
}
.create-account-btn {
  position: absolute;
  width: 573px;
  height: 66px;
  left: 1126px;
  top: 977px;
  background: #cde769;
  border-radius: 10px;
}
.google-logo-align {
  float: left;
  font-size: 20px;
  margin: 14px;
  color: #f0f0f0;
}
.twitter-btn.facebook-btn {
  position: absolute;
  width: 141px;
  height: 77px;
  left: 1647px;
  top: 368px;
}
