body {
  margin: 0;
}

.wrapper-desktop {
  display: flex;
  justify-content: center;
  left: 0;
  width: 3.1rem;
  height: 100vh;
  background-color: rgba(83, 82, 82, 0.849);
  position: fixed;
}

/* Change black colour of png icons to white */
.invert-color {
  -webkit-filter: invert(98%);
}

/* Inactive icons are less white */
.inactive {
  -webkit-filter: invert(40%);
  pointer-events: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  display: block;
  padding: 1rem 0.7rem;
  overflow: hidden;
}

.side-menu-desktop {
  top: 20%;
  position: fixed;
}

.icon-width-desktop {
  font-size: 1.3rem;
}

.light:hover {
  color: rgb(255, 255, 255);
}
