/*class for div whole container */

.work-panel {
    /* width: 40%; */
    margin-top: 10px;
}

.blog-card {
    /* width: 150px; */
    position:relative;
    max-width: 90%;
    padding:10px 5px;
    /* height: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    border-color: hsl(72, 9%, 68%);
}
.blog-card:hover{
    border-color: hsl(71, 53%, 77%);
}

/*class for div consists of the lable and input */

.input-box {
    width: calc(100% - 40px);
    /* height: 0.5%; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    /* z-index: 3; */
}

.blog-card-label {
    font-family: sans-serif;
    font-size: 18px;
    text-align:left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}
.blog-card-description {
    font-family: sans-serif;
    font-size: 12px;
    text-align:left;
    margin-bottom: 20px;
    margin-top: 0px;
}


/*class for input */

.blog-card-control {
    /* width: 100px; */
    /* height: 18px; */
    padding: 5px 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 12px;
}


/* class for div of consists of dot button list*/

.btn-right {
    font-size: 16px;
    /* width: 30px; */
    /* height: 100px; */
    /* margin-bottom: 2px; */
    /* margin-top: 2px; */
    text-align: center;
}

button.btn-right {
    /* width: 0px;
    height: 0px; */
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    /* margin-top: 8px;
    margin-right: 20px; */
}


/*class for div consists .btn-right and .dropdown-contentcontent*/

.menu-right {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}


/* display property for .dropdown-content */

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    width: 80px;
    height: 100px;
    margin-left:-60px;
    overflow: auto;
    z-index: 10;
}


/*class for for each list items*/

.list-component {
    list-style-type: none;
    cursor: pointer;
    font-size: 12px;
}

.list-component:hover {
    background-color: #f1f1f1;
}

.button {
    border: none;
    background-color: whitesmoke;
    outline: none;
    cursor: pointer;
    font-size: 10px;
}

.comment-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
@media (max-width: 566px) {
  .input-box {
      width: 80%;
      height: 0.5%;
      margin-left: 0.5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      position: absolute;
      /* z-index: 3; */
  }
}
