.main-wrapper-register-page {
  position: absolute;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.body-wrapper {
  display: flex;
  justify-content: space-between;
  height: 90vh;
}
.image-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}
.signup-frame-img {
  width: 100%;
  display: flex;
  position: relative;
}
.line-wrapper {
  padding-right: 1rem;
  margin-left: 34rem;
}
.register-form-login {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.register-form {
  position: relative;
  width: 100%;
}
