.signup-form-line {
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.signup-form-line:before,
.signup-form-line:after {
  background-color: rgb(187, 185, 185);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.signup-form-line:before {
  right: 0.5rem;
  margin-left: -50%;
}
.signup-form-line:after {
  left: 0.5rem;
  margin-right: -50%;
}
