.login-wrapper {
    min-width: 300px;
    max-width: 40%;
  }
  
  .login-button-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
  }
  
  .social-media-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
  }