
html, body{
    height: 100%;
    margin:0;
    padding: 0;
} */
.main-wrapper-home-page{
   min-height:100%;
   margin-bottom:-50px;
}
.homeheader-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left:4rem;
    margin-right: 4rem;
    margin-top:-1rem;
  } 
  .image-wrapper {
    width: 95%;
    margin-left:2rem;
    margin-right: 2rem;
    /* margin: 0 auto;
    padding-top: 1.5rem; */
  }
   .home-page-image {
    width: 140%;
    height: 85vh;
    margin-top:-1rem;
  } 
  
  .urlToggleBtn-wrapper
  {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    margin-bottom:160rem;
  
  }
  .url-Input{
      margin-top:-12rem;
      margin-left:2rem;
      margin-right:-4rem;
  }
  .toggle-btn{
    margin-top:-12rem;
    margin-right:-20rem;
  }
.content-wrapper{
    margin-top:-2rem; 

  }
  .footer-wrapper{
    height:50px;
  }
  