body{
    margin:0;
    padding:0;
    width:100%;
}


.main-wrapper-home-page{
    width:100%;
    
}
.homeheader-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left:4rem;
    margin-right: 4rem;
    margin-top:-1rem;
  } 
  .image-wrapper {
    width: 95%;
    margin-left:2rem;
    margin-right: 2rem;
    /* margin: 0 auto;
    padding-top: 1.5rem; */
  }
   .home-page-image {
    width: 140%;
    height: 85vh;
    margin-top:-1rem;
  } 
  
  .urlToggleBtn-wrapper
  {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    margin-bottom:160rem;

    /* margin-left:10rem; 
    margin-right:-5rem;
    margin-top:-7rem; */
  
  }
  .url-Input{
      margin-top:-12rem;
      margin-left:2rem;
      margin-right:-4rem;
  }
  .toggle-btn{
    margin-top:-12rem;
    margin-right:-20rem;
  }
.content-wrapper{
    margin-top:-2rem; 

  }
  