@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.annotation-container {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin-top: 16px;
  animation: fadeInScale 0.31s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;
  overflow: hidden;
  position: absolute;
  height: auto;
  z-index: 10;
}

.annotation-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.annotation-form-input {
  background: #ffffff;
  border: 2px solid #cde769;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px 10px;
  /* transform: matrix(1, 0.01, 0, 1, 0, 0); */
}

.annotation-form-btnWrapper {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: space-around;
}

.annotation-form-btn {
  width: 7rem;
  height: 2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.annotation-form-btn-save {
  background: #a3b93a;
}

.annotation-form-btn-cancel {
  background: #ffffff;
}
