@import "../../App.css";

.switch {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: #f0f0f0;
  border-radius: 40px;
  border: 3px solid #cde769;
}

.switch input {
  display: none;
}

.slider {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Open Sans";
  font-size: 13px;
  color: #2d2e36;
  border-radius: 40px;
  /* padding: 0 25px; */
}

.switch input:checked ~ .slider:last-child {
  padding: 0 25px 0 3px;
}

.switch input:not(:checked) ~ .slider:not(:last-child) {
  padding: 0 3px 0 25px;
}

.switch input:not(:checked) ~ .slider:last-child {
  background-color: #cde769;
  padding: 11px 25px;
}

.switch input:checked ~ .slider:not(:last-child) {
  background-color: #cde769;
  padding: 11px 25px;
}

@media (max-width: 722px) {
  .switch {
    height: 35px;
    align-items: center;
  }

  .switch input:not(:checked) ~ .slider:last-child,
  .switch input:checked ~ .slider:not(:last-child) {
    background-color: #cde769;
    padding: 9px 25px;
  }
}