/* signup title text (signupTitle.js file) */
.signupTitle {
  position: absolute;
  width: 592px;
  height: 93px;
  left: 1126px;
  top: 284px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
}
/* Signup google button (signupButtons) */
.googleSignupButton {
  position: absolute;
  width: 486px;
  height: 55px;
  left: 1125px;
  top: 377px;

  background: #5b87e6;
  border-radius: 5px;
}
/* Signup google  button text (signupButtons) */
.signupBtnTxt {
  position: absolute;
  width: 254px;
  height: 51px;
  left: 1000px;
  top: 377px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* sign up create account button (signupButtons) */
.CreateAccountBtn {
  position: absolute;
  width: 573px;
  height: 66px;
  left: 1126px;
  top: 977px;

  background: #cde769;
  border-radius: 10px;
}
/* signup create button text (signupButtons) */
.signupCreateAccountTxt {
  position: absolute;
  width: 269px;
  height: 48px;
  left: 1278px;
  top: 986px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 48px;
  /* identical to box height */
  color: #6e6e6e;
}
/* google logo alignment (signupButtons */
.googleLogoAlign {
  float: left;
  position: relative;
  font-size: 20px;
  color: #f0f0f0;
  padding: 15px;
}

/* signup twitter button  (signupButtons)*/
.twitterBtn.facebookBtn {
  position: absolute;
  width: 141px;
  height: 77px;
  left: 1647px;
  top: 368px;
}
/* signup form lines arround or (signupFormLine) */
.signupFormLine {
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* signup form lines arround or (signupFormLine) */
.signupFormLine:before,
.signupFormLine:after {
  background-color: rgb(187, 185, 185);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 250px;
}
/* signup form lines arround or (signupFormLine) */
.signupFormLine:before {
  right: 0.5em;
  margin-left: -50%;
}
/* signup form lines arround or (signupFormLine) */
.signupFormLine:after {
  left: 0.5em;
  margin-right: -50%;
}
/* signup Email label text (signupEmailAddress) */
.signupEmail {
  position: absolute;
  width: 274px;
  height: 30px;
  left: 1139px;
  top: 517px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #2d2e36;
}
/* signup checkbox agreement (signupChecBox) */
.signupCheckBoxTxt {
  font-family: open Sans;
  font-size: 16px;
  color: rgb(95, 95, 95);
}
/* signup Email label text box (signupEmailAddress) */
.signupEmailBox {
  position: absolute;
  width: 645px;
  height: 49px;
  left: 1132px;
  top: 558px;
  background: #f0f0f0;
  border-radius: 10px;
}
/* signup Username text label (signupUserName) */
.signupUserNameTxt.signupFullNameTxt {
  position: absolute;
  width: 274px;
  height: 30px;
  left: 1055px;
  top: 410px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #2d2e36;
}
/* signup fullname & username textbox (signupUserName) */
.signupFullNameBox.signupUserNameBox {
  position: absolute;
  width: 310px;
  height: 49px;
  left: 1050px;
  top: 450px;
  background: #f0f0f0;
  border-radius: 10px;
}

/* Signup password text label  (SignupPassword) */
.signupPassword {
  position: absolute;
  width: 274px;
  height: 30px;
  left: 1055px;
  top: 410px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  color: #2d2e36;
}
/* Sign up password box (SignupPassword) */
.signupPasswordBox {
  position: absolute;
  width: 310px;
  height: 49px;
  left: 1050px;
  top: 450px;
  font-family: Open Sans;
  font-size: 16px;
  background: #f0f0f0;
  border-radius: 10px;
}
