@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');


.header {
  padding-left: 0.5px;
  justify-content: center;
}
.logo {
  font-family: Pacifico;
  font-size: 40px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  color: #2d2e36;
  padding: 1rem;
  margin: 40px 0 0;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .logo{
    font-size: 20px;
    padding-left: 0;
  }

  .header {
    padding-left: 0;
  }
}
