@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');

.header {
  padding-left: 1rem;
}
.logo {
  width: 20rem;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  padding-left: 1.5rem;
  font-size: 2rem;
  color: #2d2e36;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
