.user-name {
    font-weight: bold;
    font-family: sans-serif, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}
.user-box {
    border-radius: 0.5em;
    height: 2em;
    width: 9em;
    border: 0.2em solid rgb(252, 248, 248);
    background-color:rgb(245, 245, 245) ;
}