.boxclass{
    font-weight: bold;
    /* margin-left:20px; */
    margin-top:1.25rem;
    font-family:'Open Sans', sans-serif;
    margin-bottom:,625rem;
}
.email-addres-box {
    border-radius: .8rem;
    /* margin-left:1rem; */
    height:2rem;
    width:100%;
    border:2px solid rgb(252,248,248);
    background-color: rgb(245,245,245);
}
.password-box{
    border-radius: .8rem;
    /* margin-left:1rem; */
    height:2rem;
    width:100%;
    border:2px solid rgb(252,248,248);
    background-color: rgb(245,245,245);


}
/*Responsive*/

.boxclass .email-addres-box .password-box{
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;
}