.project-page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project-page-rightside-container{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: 100%;
    z-index: 1;

    box-shadow: -2px 0px 10px 1px #AAAAAA;
}

.project-page-button{
    font-family: 'open sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    color: #2d2e36;
    background-color: white;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.register-button{
    cursor: pointer;
}
.screenshot-image-container{
    width: calc(100% - 350px);
    margin-left: 50px;
    height: 100%;
    position: absolute;
    /* z-index: -1; */
}

.no-comment-message{
margin-top: 1rem;
width: 50%;
font-family: sans-serif;
background-color: #ffffff;
position: relative;
}
.login-block{
    border-bottom: solid 2px #CDE769;
    margin-bottom: 30px;
    padding: 10px;
    height: 130px;
    justify-items: center;
}
@media (max-width: 566px) {
    .project-page-container{
        display: block;
    }
    .screenshot-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -3;
        margin-top: 40px;
      }
    .project-page-footer{
        display: none;
    }
    .header-mobile{
        margin-left: 0rem;
        margin-top: 0px;
        margin-right: 200px;
    }
    .container-menu-button {
        display: inline-block;
        cursor: pointer;
        margin-top: 0.8rem;
        margin-right: 3rem;
      }

    .project-page-rightside-innerContainer{
        display: none;
    }
    .comment-container{
    /* position: absolute; */
    width:100%;
    z-index: 4;
    margin-top: 400px;
    }
    .no-comment-message{
    margin-top: 100px;
    }
}
